
<p>
Thanks for signing in.
</p>

<p>
<strong>Tools</strong><br />
<%= link_to "Translation", :controller => "tools", :action => "translation"  %>
</p>


<p>
<strong>Recent Sequences</strong><br />
<%#= render :partial => "sequences", :collection => self.current_user.recent_sequences %>
</p>